<header>
  <h1><%= t('.edit') %></h1>
</header>
<%= simple_form_for [@post, @comment] do |f| %>
  <%= f.error_notification %>
  <%= f.input :content, label: t('.content') %>

  <%= f.button :submit, t('.update') %>
<% end %>
