<div>
  <p><b><i><%= User.find(comment.author.id).email %></i></b> : <%= comment.content %></p>
  <%= button_to t('.likeit') + " #{comment.liked.count }", [:like, @post, comment], method: :post %>
  <% if policy(comment).update? %>
    <%= link_to t('.edit_link'), [:edit, @post, comment], class: "edit" %>
  <% end %>
  <% if policy(comment).destroy? %>
    <%= link_to t('.del_link'), [@post, comment], method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class: "delete" %>
  <% end %>
<div>
