<header>
  <h1><%= t('.edit_post') %></h1>
</header>
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, label: t('.title') %>
  <%= f.input :content, label: t('.content') %>

  <%= f.button :submit, t('.update')%>
<% end %>
