<p>select date form goes here</p>
<header>
  <h1><%= t('.daypost') %></h1>
    <% if policy(Post.new).create? %>
      <li><%= link_to t('.new_post'), new_post_path %></li>
    <% end %>
</header>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post) %> <i><%= t('.writer') %><%= User.find(post.author.id).email %></i></h2>
<% end %>
