<header>
  <h1><%= @post.title %></h1>
  <ul>
    <% if policy(@post).update? %>
      <li><%= link_to fa_icon("pencil"), edit_post_path(@post), title: "post_edit" %></li>
    <% end %>
    <% if policy(@post).destroy? %>
      <li><%= link_to fa_icon("trash"), post_path(@post),
          method: :delete,
          data: { confirm: t('.confirm') }, title: "post_delete" %></li>
    <% end %>
  </ul>
</header>
<br>
<p><%= @post.content %></p>

<%= link_to fa_icon("thumbs-o-up") + " #{@post.liked.count }", like_post_path(@post), method: :post, class: "like", title: "post_like" %>

<header>
  <h2><%= t('.comments') %></h2>
</header>

<% if policy(Comment.new).create? %>
  <%= render partial: "comments/form" %>
  <br>
<% end %>

<%= render partial: 'posts/comment', collection: @post.comments %>

<% if current_user && current_user.admin? %>
  <h3>Liked users : <%= @post.liked.map(&:email).to_sentence %> </h3>
<% end %>
