<!DOCTYPE html>
<html>
<head>
  <title>Daypost</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, message| %>
  <div class="alert-<%= key %>"><%= message %></div>
<% end %>
<% if user_signed_in? %>
  <p>Signed in as <%= current_user.email %></p>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Login", user_session_path %>
<% end %>
<%= yield %>

</body>
</html>
