<!DOCTYPE html>
<html>
<head>
  <title>Daypost</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= form_tag posts_path, method: :get, class: 'locale' do %>
  <%= select_tag 'set_locale',
    options_for_select(LANGUAGES, I18n.locale.to_s),
    onchange: 'this.form.submit()' %>
  <%= submit_tag 'submit' %>
  <%= javascript_tag "$('.locale input').hide()" %>
<% end %>


  <ul class="actions">
    <li><%= link_to fa_icon("home")+ " " + t('.home'), posts_path %></li>
    <li><%= link_to fa_icon("calendar")+ " " + t('.history'), history_path %></li>
  <% if user_signed_in? %>
    <li><%= link_to fa_icon("user")+ " " + t('.manage_info'), edit_user_registration_path %></li>
      <% if current_user.admin? %>
        <li><%= link_to fa_icon("lock")+ " " + t('.admin'), admin_root_path %></li>
      <% end %>
      <li><%= link_to fa_icon("sign-out")+ " " + t('.logout'), destroy_user_session_path, method: :delete %></li>
      <p><%= t('.username') %><%= current_user.email %></p>
    <% else %>
      <li><%= link_to fa_icon("sign-in")+ " " + t('.login'), user_session_path %></li>
      <li><%= link_to fa_icon("user-plus")+ " " + t('.signup'), new_user_registration_path %></li>
    <% end %>
  </ul>

  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key %>"><%= message %></div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
